{{> header}}
<script>
  window.location.href = "https://quadroworld.com" + window.location.pathname + window.location.search;
</script>
<div id="notfound" class="section-container">
  <h2>
    404 | Link could not be found.
  </h2>
  <a class="back-to-home" href="/">
    ← Back to homepage
  </a>
</div>
{{> footer}}
